State-machine.json
{
  "StartAt": "Pass State",
  "States": {
    "Pass State": {
      "Type": "Wait",
      "Seconds": 2,
      "Next": "Call Lambda"
    },
    "Call Lambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "TimeoutSeconds": 300,
      "HeartbeatSeconds": 60,
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-west-1:<Account-ID>:function:StepFunctionCheckExecutions:$LATEST",
        "Payload": {
          "Input.$": "$",
          "TaskToken.$": "$$.Task.Token",
          "SFContext.$": "$$",
          "ResultPath": "$.taskresult"
        }
      },
      "Catch": [
        {
          "ErrorEquals": [
            "Lambda.Unknown"
          ],
          "Next": "Fail State"
        }
      ],
      "Next": "Choice State"
    },
    "Choice State": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$",
            "StringEquals": "Failed"
          },
          "Next": "Success State"
        }
      ],
      "Default": "Fail State"
    },
    "Success State": {
      "Type": "Wait",
      "Seconds": 2,
      "Next": "End State"
    },
    "End State": {
      "Type": "Wait",
      "Seconds": 2,
      "End": true
    },
    "Fail State": {
      "Type": "Wait",
      "Seconds": 2,
      "End": true
    }
  }
}
